* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

h2 {
    font-size: 30px;
}

.secao {
    max-width: 1024px;
    margin: 0 auto;
}


.background1 {
    background-color: #2f86d6;

.topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    flex-wrap: wrap;
    
    & .logo {
        display: flex;
        gap: 20px;
    }

    & h1 {
        color: black;
    }

    & p {
        color: #fff;
    }

    & img {
        width: 100px;
    }

    & .topoinfos {
        margin: 0;
        
        & a {
            text-decoration: none;
            padding: 15px;
            font-weight: bold;
            color: #fff;
        }
    }
}
}

.background2 {
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
    margin: auto;

    & table {
        margin: auto;
    }

    
    & .hidden {
        visibility: hidden;
    }
    
        & p {
            color: #a89f9f;
            font-weight: normal;
        }
    
        & td {
            text-align: center;
            padding: 20px 40px;
            border-bottom: 1px solid #f1f3f7;
            border-right: 1px solid #f1f3f7;
        }
    
        & th, td {
            padding: 20px;
            background-color: #fff;
        }
    
        & .cabeçalho, .first {
            background-color: #f1f3f7;
    
        }
    
        & .first {
            text-align: left;
            font-weight: 500;
        }
    
        & .cabeçalho {
            line-height: 35px;
            padding: 20px 50px;
        }
    
        & h3 {
            font-size: 36px;
        }
    
        & p {
            font-size: 14px;
        }
    
    & .bolinha {
        width: 15px;
        height: 15px;
        background-color: #2f86d6;
        border-radius: 50%;
        margin: auto;
    }
    
    }

.background3 {
    text-align: center;
    background-color: #2f86d6;
    padding: 80px 0;

    & .contatos {
        display: flex;
        justify-content: center;
        gap: 15px;

        & .bannertexto {
            text-align: left;
        }
    

        & img {
            width: 100px;
        }

        & p {
            color: white;
        }
    }

    & p {
        color: white;
    }


}

    footer {
        color: black;
        text-align: center;
        padding: 20px;
        background-color: #f6f6f6;
    }

    span {
        color: #2f86d6;
    }


    /* Media query para dispositivos com largura de tela entre 601px e 900px */
@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    ::-webkit-scrollbar {
        width: 1;
    }


.background1 {
    & .topo {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        & .topoinfos {
            font-size: 12px;
            flex: 1 1 50px;
            gap: 10px;
            padding: 10px 0px;
            text-align: center;
        }

        & .logocontato img {
            width: 80px;
        }

        & .logo {
            gap: 10px;
        }
    
        & .namelogo {
            font-size: 15px;
        }
        
}
}

.tabela2 {
    width: 97vw;
    align-items: center;
    margin: 0 auto;
    padding: 0;

    & tbody, td, th, tr, .cabeçalho {
        padding: 2px;
        font-size: 8px;
        line-height: 15px;

        & h3 {
            font-size: 15px;
        }
        
        & p {
            font-size: 8px;
        }

        & .first {
            font-size: 10px;
        }

        & .bolinha {
            width: 8px;
            height: 8px;
        }
    }
}

.background3  {
    & .textob3 {
        padding-top: 20px;
        font-size: 12px;
    }

    & .logocontato {
        gap: 5px;
    }

    & .bannertexto {
        font-size: 15px;
    }

    & .logocontato img {
        width: 80px;
    }

}

footer {
    font-size: 12px;
}

}